<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Base</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <nav>
        <div class="nav-container">
            <h2 class="brand">Approval System</h2>
            <ul class="nav-links">
                <li><a href="{% url 'process_selection' %}">Upload File</a></li>
                {% if user.is_admin %}
                <li><a href="{% url 'manage_processes' %}">Manage Processes</a></li>
                <li><a href="{% url 'add_approver' %}">Add Approver</a></li>
                {% endif %}
                <li><a href="">Approval Dashboard</a></li>
                {% if user.is_authenticated %}
                <li><a href="{% url 'logout' %}">logout</a></li>
                {% else %}
                <li><a href="{% url 'login' %}">login</a></li>
                <li><a href="{% url 'signup' %}">signup</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>

    <hr>

    <div class="content">
        {% block content %}{% endblock %}
    </div>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script>
        {% if messages %}
            {% for message in messages %}
                {% if message.tags == 'error' %}
                    swal({
                        html: true,
                        icon: 'error',
                        title: 'Error',
                        text: "{{ message|safe }}",
                    });
                {% elif message.tags == 'success' %}
                    swal({
                        html: true,
                        icon: 'success',
                        title: 'Success',
                        text: "{{ message|safe }}",
                        confirmButtonText: 'Okay'
                    });
                {% endif %}
            {% endfor %}
        {% endif %}
    </script>
    
</body>
</html>