{% extends "base.html" %}

{% block content %}
  <h2>Select Process and Upload File</h2>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ process_form.as_p }}
    {{ file_form.as_p }}
    <button type="submit">Upload</button>
  </form>
  
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script>
    $(document).ready(function() {
      
      $('#id_process').change(function() {
        var processId = $(this).val();
        
        $.ajax({
          url: "{% url 'load_process_codes' %}",
          data: {
            'process_id': processId
          },
          success: function(data) {
            var processCodeSelect = $("#id_process_code");
            processCodeSelect.empty();  // Clear current options
            processCodeSelect.append(new Option("Choose a Process Code", ""));
  
            // Populate with new options
            $.each(data.options, function(index, option) {
              processCodeSelect.append(new Option(option[1], option[0]));
            });
          }
        });
      });
    });
  </script>
{% endblock %}